$pc: blue;
$sc: grey;

@mixin displayflex {
    display: flex;
    justify-content: center;
    align-items: center
}


header {
    @include displayflex();
    background: $pc;
}

.header-container {
    display: flex;
    width: 1024px;
    height: 10vh;
    margin: 0 20px;
    justify-content: space-between;
    color: white;

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 220px;
        font-size: 2em;
        i {
            font-size: 2em; 
        }
    }
   
}
        .nav-links {
            display: flex;
            align-items: center;
            font-size: 2em;
            justify-content: space-between;
            width: 330px;
        }
.ham-button {
    display: none;
}
.hide-side {
    display: none;
}
a {
    text-decoration: none;
    color: white;
}

@media (max-width: 900px) {
    .ham-button {
        display: flex;
        justify-content: center;
        align-items: center; 
        i {
            font-size: 2.3em;
        }
    }
    .nav-links{
        display: none;
    }
    .side-nav-container {
        position: absolute;
        height: 90vh;
        width: 275px;
        right: 0;
        background: grey;
        animation: slide-in .7s linear;
    }
}


@keyframes slide-in {
    from {
        right: -275px
    }
    to {
        right: 0;
    }
}